{% extends 'base.html' %}
{% load static %}
{% block customCss %}
<link rel="stylesheet" href="{% static 'css/detail_product.css' %}">
{% endblock %}
{% block content %}
<!-- Product -->
<div class="product">
  <div class="image">
    {% if product.image %}
    <img class="product_image" src="{{ product.image.url }}" alt="{{ product.name }}" />
    {% if product.stock == 0 %}
    <img src="{{ product.sold_out_image }}" alt="" class="product_image">
    {% else %}
    <img class="product_image" src="{% static 'img/def.jpeg' %}">
    {% endif %}
  </div>
  <div class="description">
      <div class="name">
        <h3>{{ product.name }}</h3>
      </div>
      <div class="price">
        <h6>{{ product.price  }}</h6>
      </div>
  </div>
</div>
{% endblock %}

