{% extends 'base.html' %}
{% load static %}
{% block customCss %}
  <link rel="stylesheet" href="{% static 'css/store.css' %}">
{% endblock %}
{% block content %}
  <div id="product" class="container-fluid">
    
    
    <div id="productimage">
      <img src="{{product.image.url}}" alt="{{product.name}}" class="img-fluid">
    </div>
    
    
    <div id="productdata">
        
      <h2>
        {{product.name}}
      </h2>

      <p>
        {{ product.description|safe|linebreaksbr }}
      </p>
      
      <p>
        {{product.price}} PLN
      </p>
      
      <div id="productform">
        <form action="{% url "cart:cart_add" product.id %}" method="post">
          {% csrf_token %}
          {{ cart_product_form }}
          <input type="submit" value="Do Koszyka">
        </form>
      </div>
    
    </div>
  </div>                  
{% endblock %}


