{% extends 'base.html' %}
{% load static %}
{% block customCss %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">    
{% endblock %}
{% block content %}
    <div id="about">
        <p style="padding-top: 40px;">Rewolucja polega na łączeniu lokalnych artystów. <br>
        Zajmujemy się głównie modą, muzyką i sztuką uliczną. <br>
        Dzięki temu co robimy czujemy się wolni. <br>
        Chcemy wam to pokazać. <br>
        Dołacz się do Rewolucji. <br>
        </p>
    </div>
{% endblock content %}

