<div id="popup1" class="overlay">
    <div class="popup">
        <h2>Example popup</h2>
        <a class="close" href="#">X</a>
        <div class="popupcontent">
                Thank to pop me out of that button, but now i'm done so you can close this window.
                <ul >
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
                </ul>
                </div>
                </div>
               </div>
    </div>
</div>